ion-content{

    --ion-background-color:#dddddd;
}
ion-header{

    --ion-background-color:#dddddde3;
}
.titulo{
    color:#000000;
}

.texto{
    color:#000000;
}

ion-thumbnail{
    --size: 100%;
}
ion-card{

    --ion-background-color: #ffffff;
}
