<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/icono.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title class="titulo">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  
  <ion-item>
    <ion-img src="/assets/ciclo.png"></ion-img>
  </ion-item>

</ion-content>
