<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button
          defaultHref="/"
          text="Back"
          color="dark"
          mode="ios"
          class="titulo"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/icono.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="onClick()" expand="block" shape="round">
    Crear usuario
  </ion-button>

</ion-content>
